<form method="post" action="{{ path('app_admin_compagny_delete', {'id': compagny.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compagny.id) }}">
<button class="btn btn-danger btn-sm"><i class="align-middle" data-feather="trash-2"></i></button>
</form>

