{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Candidat{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_candidat_index') }}" class="btn btn-primary btn-sm">Retour a la liste</a>
    <h1 class="mt-3">Creer un nouveau candidat</h1>

    {{ include('admin_candidat/_form.html.twig') }}


{% endblock %}
