<form method="post" action="{{ path('app_admin_home_delete', {'id': home.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
