{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Acceuil{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_home_index') }}" class="btn btn-primary btn-sm">Retour a la liste</a>
    <h1 class="mt-3">Creer un nouvelle acceuil</h1>

    {{ include('admin_home/_form.html.twig') }}

{% endblock %}
 