{{ form_start(form) }}
{{ form_widget(form) }}


{% include 'admin_common/_required-fields.html.twig' %}
<button class="btn btn-success btn-sm mt-3">
    {{ button_label|default('Sauvegarder') }}
</button>

{{ form_end(form) }}
